@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  padding: 50;
  overflow: hidden; /* Prevent scrollbars if the blur causes slight offsets */
}

body::before {
  content: "";
  position: fixed; /* Ensures the background stays fixed while scrolling */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./assets/background1.gif'); /* Replace with your image URL */
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center;
  z-index: -1; /* Places it behind the main content */
  filter: blur(10px); /* Adjust the blur intensity as needed */
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Black overlay with 50% opacity */
  z-index: -1; /* Keeps it behind the main content but above the background image */
}

.App {
  text-align: center;
  position: relative; /* Ensures it stays above the blurred background */
  z-index: 1; /* Places content above the background */
  color: white; /* Adjust text color for visibility over the background */
}